[submodule ".registry"]
	path = .registry
	url = https://github.com/animovement/animovement.r-universe.dev
	branch = HEAD
[submodule "anicheck"]
	path = anicheck
	url = https://github.com/animovement/anicheck
[submodule "aniframe"]
	path = aniframe
	url = https://github.com/animovement/aniframe
[submodule "animetric"]
	path = animetric
	url = https://github.com/animovement/animetric
[submodule "animovement"]
	path = animovement
	url = https://github.com/animovement/animovement
[submodule "aniprocess"]
	path = aniprocess
	url = https://github.com/animovement/aniprocess
[submodule "aniread"]
	path = aniread
	url = https://github.com/animovement/aniread
[submodule "anispace"]
	path = anispace
	url = https://github.com/animovement/anispace
[submodule "anivis"]
	path = anivis
	url = https://github.com/animovement/anivis
